@import "../../App.scss";

button {
  padding: 0.2rem 0.6rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  color: $font-color;
  background-color: $primary-color;
  max-height: 3rem;
}
