.Todo-card {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.233);
  border-radius: 8px;
  padding: 0.4rem;
  align-items: center;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  div {
    display: flex;
    flex: 1;
    overflow-wrap: break-word;
    word-break: break-word;
    align-items: center;
  }
}
